<footer class="site-footer">
  <nav class="main-nav" id="menu">
    <ol>
      <li>
        <a href="/" {% if page.url == "/" %}class="active"{% endif %}>Front-end Field Guide</a>
      </li>
      <li>
        <a href="/concepts.html" {% if page.url == "/concepts.html" %}class="active"{% endif %}>Concepts</a>
        <ol>
          <li>
            <a href="/progressive-enhancement.html" {% if page.url == "/progressive-enhancement.html" %}class="active"{% endif %}>Progressive Enhancement</a>
          </li>
          <li>
            <a href="/responsive-web-design.html" {% if page.url == "/responsive-web-design.html" %}class="active"{% endif %}>Responsive Web Design</a>
          </li>
          <li>
            <a href="/performance.html" {% if page.url == "/performance.html" %}class="active"{% endif %}>Performance</a>
          </li>
          <li>
            <a href="/process.html" {% if page.url == "/process.html" %}class="active"{% endif %}>Process</a>
          </li>
        </ol>
      </li>
      <li>
        <a href="/technology-and-tools.html" {% if page.url == "/technology-and-tools.html" %}class="active"{% endif %}>Technology and tools</a>
        <ol>
          <li>
            <a href="/html.html" {% if page.url == "/html.html" %}class="active"{% endif %}>HTML</a>
          </li>
          <li>
            <a href="/css.html" {% if page.url == "/css.html" %}class="active"{% endif %}>CSS</a>
          </li>
          <li>
            <a href="/javascript.html" {% if page.url == "/javascript.html" %}class="active"{% endif %}>JavaScript</a>
          </li>
          <li>
            <a href="/testing.html" {% if page.url == "/testing.html" %}class="active"{% endif %}>Testing</a>
          </li>
        </ol>
      </li>
    </ol>
  </nav>
</footer>
