<footer class="site-footer">
  <nav class="main-nav" id="menu">
    <ol>
      <li>
        <a href="/" {% if page.url == "/" %}class="active"{% endif %}>Front-end Field Guide</a>
      </li>
      <li>
        <a href="/concepts.html" {% if page.url == "/concepts.html" %}class="active"{% endif %}>Concepts</a>
      </li>
      <li>
        <a href="/technology-and-tools.html" {% if page.url == "/technology-and-tools.html" %}class="active"{% endif %}>Technology and tools</a>
      </li>
    </ol>
  </nav>
</footer>
